 @media (min-width: 500px) {
     .col-sm-6 {
         width: 50%;
    }
}
 html, body {
     height: 100%;
     min-height: 18em;
}
 .frontend-side {
     background-image: url("../img/code.png");
}
 .uiux-side {
     background-image: url("../img/website-post-its.png");
}
 .split-pane {
     padding-top: 1em;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     height: 50%;
     min-height: 9em;
     font-size: 2em;
     color: white;
     font-family: Sans-Serif;
}
 @media(min-width: 500px) {
     .split-pane {
         padding-top: 0em;
         height: 100%;
    }
}
 .split-pane > div {
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     text-align: center;
}
 .split-pane > div .text-content {
     line-height: 1.0em;
     margin-bottom: 0.7em;
}
 .split-pane > div .text-content .big {
     font-size: 2em;
}
 .split-pane > div img {
     height: 1.3em;
}
 @media (max-width: 500px) {
     .split-pane > div img {
         display:none;
    }
}
 .split-pane button, .split-pane a.button {
     font-family: Sans-Serif;
     background: none;
     border: 1px solid white;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     width: 15em;
     padding: 0.7em;
     font-size: 0.5em;
     -moz-transition: all 0.2s ease-out;
     -o-transition: all 0.2s ease-out;
     -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
     text-decoration: none;
     color: white;
     display: inline-block;
     cursor: pointer;
}
 .split-pane button:hover, .split-pane a.button:hover {
     text-decoration: none;
     background-color: white;
     border-color: white;
     cursor: pointer;
}
 .uiux-side.split-pane button:hover, .split-pane a.button:hover {
     color: violet;
}
 .frontend-side.split-pane button:hover, .split-pane a.button:hover {
     color: blue;
}
 #split-pane-or {
     font-size: 2em;
     color: white;
     font-family: Sans-Serif;
     text-align: center;
     width: 100%;
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}
 @media (max-width: 925px) {
     #split-pane-or {
         top:15%;
    }
}
 #split-pane-or > div img {
     height: 2.5em;
}
 @media (max-width: 500px) {
     #split-pane-or {
         position: absolute;
         top: 50px;
    }
     #split-pane-or > div img {
         height:2em;
    }
}
 @media(min-width: 500px) {
     #split-pane-or {
         font-size: 3em;
    }
}
 .big {
     font-size: 2em;
}
 #slogan {
     position: absolute;
     width: 100%;
     z-index: 100;
     text-align: center;
     vertical-align: baseline;
     top: 0.5em;
     color: white;
     font-family: Sans-Serif;
     font-size: 1.4em;
}
 @media(min-width: 500px) {
     #slogan {
         top: 5%;
         font-size: 1.8em;
    }
}
 #slogan img {
     height: 0.7em;
}
 *, *:before, *:after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 meter, progress {
     width: 100%;
}

 p.styled {
    font-size: 14px;
}

 .styled progress {
    /* Reset the default appearance */
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     width: 75%;
     height: 30px;
    /* Firefox */
     border: none;
     background: #EEE;
     border-radius: 3px;
     box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
}
 .styled progress::-webkit-progress-bar {
     background: #EEE;
     box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
     border-radius: 3px;
}
 .styled progress::-webkit-progress-value {
     background-color: #CC0000;
     border-radius: 3px;
}
 .styled progress::-moz-progress-bar {
     background-color: #CC0000;
     border-radius: 3px;
}
 .styled meter {
    /* Reset the default appearance */
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     width: 75%;
     height: 30px;
    /* For Firefox */
     background: #EEE;
     box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
     border-radius: 3px;
}
/* WebKit */
 .styled meter::-webkit-meter-bar {
     background: #EEE;
     box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
     border-radius: 3px;
}
 .styled meter::-webkit-meter-optimum-value, .styled meter::-webkit-meter-suboptimum-value, .styled meter::-webkit-meter-even-less-good-value {
     border-radius: 3px;
}
 .styled meter::-webkit-meter-optimum-value {
     background: #86CC00;
}
 .styled meter::-webkit-meter-suboptimum-value {
     background: #FFDB1A;
}
 .styled meter::-webkit-meter-even-less-good-value {
     background: #CC4600;
}
/* Firefox */
 .styled meter::-moz-meter-bar {
     border-radius: 3px;
}
 .styled meter:-moz-meter-optimum::-moz-meter-bar {
     background: #86CC00;
}
 .styled meter:-moz-meter-sub-optimum::-moz-meter-bar {
     background: #FFDB1A;
}
 .styled meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
     background: #CC4600;
}
 button {
     display: inline-block;
     border-radius: 3px;
     border: none;
     font-size: 0.9rem;
     padding: 0.4rem 0.8em;
     background: #69c773;
     border-bottom: 1px solid #498b50;
     color: white;
     -webkit-font-smoothing: antialiased;
     font-weight: bold;
     margin: 0 0.25rem;
     text-align: center;
}
 button:hover, button:focus {
     opacity: 0.75;
     cursor: pointer;
}
 button:active {
     opacity: 1;
     box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}
